@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: white;
}
.link {
  @apply text-blue-700 underline;
}
.link-big {
  @apply text-xl font-bold font-mono;
}
.link-extrabig {
  @apply text-2xl font-bold font-mono;
}
.question {
  @apply font-extrabold text-red-700 text-lg;
}
.grid-rows-13 {
  grid-template-rows: repeat(13, minmax(0, 1fr));
}
.row-start-8 {
  grid-row-start: 8;
}
.row-start-9 {
  grid-row-start: 9;
}
.row-start-10 {
  grid-row-start: 10;
}
.row-start-11 {
  grid-row-start: 11;
}
.row-start-12 {
  grid-row-start: 12;
}
.row-start-13 {
  grid-row-start: 13;
}
